<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zenchat"
        tools:targetApi="31">


        <activity
            android:name=".ChattingLoadAndSend.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".signUp_LogIn.MainActivity"
            android:theme="@style/Theme.Zenchat"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".signUp_LogIn.SignUp"></activity>
        <activity android:name=".signUp_LogIn.After_SP"></activity>
        <activity android:name=".signUp_LogIn.email_FP"></activity>
        <activity android:name=".signUp_LogIn.ResetPass"></activity>
        <activity android:name=".user_list.OnLogin"></activity>
        
            </application>

</manifest>